@model Codex.Models.Genre

<h2>Edit @Model.Name genre</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form method="post" action="/genres/edit/@Model.GenreId">
    <input type="hidden" asp-for="GenreId" />

    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" type="text" class="form-control" value="@Model.Name" />
        @Html.ValidationMessageFor(m => m.Name, "Name is required!", new { @class = "text-danger" })
    </div>
    <br />

    <button type="submit" class="btn btn-light">Edit genre!</button>
</form> 
